		span.info {
		 background: transparent;
		 color: teal; font-family: "Arial", sans-serif;
		 font-size: 11pt;
		 font-weight: bold;
		}
		  
		 
		sup {
		 font-family : "Arial", monospace;
		 font-size: x-small;
		 font-weight: normal;
		 }
		
		 
		p.sub { color: black;
		 font-size: 14pt;
		 text-align: center;
		 font-family: "New York", serif;
		 font-weight: bold;
		 line-height: 110%;
		 text-indent: 0em;
		 margin-right: 6%;
		 margin-left: 6% }
	 
		
 
		
		h1 { color: black;
		 font-weight: bold;
		 font-size: 36pt;
		 font-family: ariel-black;
		 text-align: center }
		
		h2 { color: teal;
		 font-weight: bold;
		 font-size: 23pt;
		 font-family: serif;
		 text-align: center }
		
		h3 { color: teal;
		 font-weight: bold;
		 font-size: 18pt;
		 font-family: serif;
		 text-align: center }
		
		h4 { color: black;
		 font-weight: bold;
		 font-size: 11pt;
		 font-family: sans-serif;
		 text-align: center;
		 line-height: 140%;
		 margin-right: 10%;
		 margin-left: 10% }
		
		h5 { color: black;
		 font-weight: normal;
		 font-size: 12pt;
		 font-family: san-serif;
		 text-align: center;
		 margin-right: 10%;
		 margin-left: 10% }
		hr { text-align: center;
		 height: 1px;
		 width: 80%;
		 color:  #330000;
		 size: 1 }
		
		h3.banner  { color: white;
		 background-color: teal;
		 font-weight: bold;
		 font-size: 18pt;
		 font-family: serif;
		 text-align: center;
		  margin-right: 10%;
		 margin-left: 10% }
		
		p { color: black;
		 font-size: 12pt;
		 text-align: justify;
		 font-family: "serif";
		 line-height: 120%;
		 text-indent: 1em;
		 margin-right: 10%;
		 margin-left: 10% }

		p.quote { color: black;
		 font-size: 11pt;
		 text-align: justify;
		 font-family: "serif";
		 line-height: 100%;
		 text-indent: 1em;
		 margin-right: 12%;
		 margin-left: 12% }

		p.quoteright { color: black;
		 font-size: 11pt;
		 text-align: right;
		 font-family: "serif";
		 line-height: 100%;
		 text-indent: 1em;
		 margin-right: 12%;
		 margin-left: 12% }

		p.quotecenter { color: black;
		 font-size: 11pt;
		 text-align: center;
		 font-family: "serif";
		 line-height: 100%;
		 text-indent: 1em;
		 margin-right: 12%;
		 margin-left: 12% }
		
		p.center { color: black;
		 font-size: 12pt;
		 text-align: center;
		 font-family: "serif";
		 line-height: 0%;
		 text-indent: 0em;
		 margin-right: 10%;
		 margin-left: 10% }

		p.fst { color: black;
		 font-size: 12pt;
		 text-align: justify;
		 font-family: "serif";
		 line-height: 120%;
		 text-indent: 0em;
		 margin-right: 10%;
		 margin-left: 10% }
		 
		 
		p.information { 
		 background: transparent;
		 color: #440000; 
		 text-indent: 0em; 
		 font-size: 12pt; 
		 font-family : "Times New Roman", serif;
		 line-height: 125%;
		 text-align: left;
		 margin-right: 10%; 
		 margin-left: 10% 		 }
		 
		 p.edit { color: black;
		 font-size: 11pt;
		 text-align: center;
		 font-family: "times-roman", "times", serif;
		 font-weight: normal;
		 border-top: 1px;
		 border-bottom: 1px;
		 line-height: 100%;
		 text-indent: 0em;
		 margin-right: 6%;
		 margin-left: 6% }
		
		p.list { color: black;
		 font-size: 12pt;
		 text-align: left;
		 font-family: "New York", serif;
		 font-weight: normal;
		 line-height: 110%;
		 text-indent: 0em;
		 margin-right: 10%;
		 margin-left: 8% }
		
		p.sub { color: black;
		 font-size: 14pt;
		 text-align: center;
		 font-family: "New York", serif;
		 font-weight: bold;
		 line-height: 110%;
		 text-indent: 0em;
		 margin-right: 10%;
		 margin-left: 10% }
		 
		  ul { color: black;
		 font-size: 13pt;
		 text-align: left;
		 font-family: "New York", serif;
		 font-weight: bold;
		 line-height: 12	0%;
		 text-indent: 0em;
		 margin-right: 8%;
		 margin-left: 8% }
		  
		 p.sublt { color: black;
		 font-size: 14pt;
		 text-align: left;
		 font-family: "New York", serif;
		 font-weight: bold;
		 line-height: 110%;
		 text-indent: 0em;
		 margin-right: 8%;
		 margin-left: 8% }
		 
		
		p.DIFF { color: black;
		 font-weight: bold;
		 font-size: 28pt;
		 text-align: center }
		
		p.cap { font-size: 12pt;
		 text-align: justify;
		 text-indent: 0;
		 margin-right: 10%;
		 margin-left: 10% }
		
		p.desc { font-size: 12pt;
		 text-align: justify;
		 font-family: "verdana", "arial", sans-serif;
		  line-height: 105%;
		 text-indent: 0em;
		 margin-right: 10%;
		 margin-left: 10% }
		
		 p.endnote { color: black;
		 font-size: 11pt;
		 text-indent: 0em;
		 text-align: justify;
		 font-family: serif;
		 line-height: 100%;
		 text-indent: 0em;
		 margin-right: 11%;
		 margin-left: 11% }
		
		
		p.desc1 { font-size: 12pt;
		 text-align: justify;
		 font-weight: bold;
		 font-family: "verdana", "arial", sans-serif;
		 text-indent: 0em;
		 margin-right: 10%;
		 margin-left: 10% }
		
		p.sig { color: black;
		 font-size: 12pt;
		 font-family: "Georgia";
		 font-weight: bold;
		 text-align: left;
		 text-indent: 0em;
		 margin-right: 10%;
		 margin-left: 10% }
		
		p.sigcent { color: black;
		 font-size: 12pt;
		 font-family: "Georgia";
		 font-weight: bold;
		 text-align: center;
		 text-indent: 0em;
		 margin-right: 10%;
		 margin-left: 10% }

		p.sigright { color: black;
		 font-size: 12pt;
		 font-family: "Georgia";
		 font-weight: bold;
		 text-align: right;
		 text-indent: 0em;
		 margin-right: 10%;
		 margin-left: 10% }
		
		p.headlarge { color: black;
		 ;
		 font-family: sans-serif;
		 font-weight: normal;
		 font-size: 12pt;
		 line-height: 18pt;
		 text-align: justify;
		 text-indent: 0;
		 margin-right: 10%;
		 margin-left: 10% }
		
		p.head { color: black;
		 ;
		 font-family: sans-serif;
		 font-weight: normal;
		 font-size: 12pt;
		 text-align: jusftify;
		 text-indent: 2em;
		 margin-right: 10%;
		 margin-left: 10% }
		
		p.head2 { color: black;
		 text-align: justify;
		 font-weight: bold;
		 font-size: 33pt }
		
		p.keyw { color: black;
		 font-weight: bold;
		 font-size: 11pt;
		 text-align: center;
		 text-indent: 0;
		 margin-right: 10%;
		 margin-left: 10% }
		
		p.index { color: black;
		 font-family: sans-serif;
		 font-weight: bold;
		 font-size: 13pt;
		 text-align: left;
		 text-indent: 0em;
		 margin-right: 8%;
		 margin-left: 10% }
		
		p.linkback { color: blue;
		 font-weight: bold;
		 font-size: 11pt;
		 text-align: left;
		 margin: 0 }
		
		p.å { color: black;
		 font-size: 11pt;
		 text-align: justify;
		 text-indent: 0;
		 line-height: 100%;
		 margin-right: 9%;
		 margin-left: 9% }
		p.footer {  
		 text-indent: 0em; 
		 font-weight: bold;
		 font-family : "Arial", sans-serif;
		 font-size: 12pt; 
		 text-align: center; 
		 margin: 3%;
		 }
		span { color: black;
		 font-weight: bold;
		 font-size: 14pt }
		
		table { text-align: center;
		 text-indent: 0 }
		
		table2 { text-align: center;
		 text-indent: 0 }
		
		
		

/* =====================================*/
/* Adjustments for Mobile Devices       */
/* =====================================*/

@media (max-width: 480px) {
  p { font-size: 12pt; margin-left: 1%; margin-right: 1%; margin-bottom: 4pt; margin-top: 4pt; line-height: 125%; }
  p.indentb { margin-left: 6%; margin-right: 1%; }
  p.quoteb { margin-left: 6%; margin-right: 1%; }
  p.index { margin-left: 6%; margin-right: 1%; }
  h1 { font-size: 18pt; margin-left: 1%; margin-right: 1%; }
  h2 { font-size: 16pt; margin-left: 1%; margin-right: 1%; }
  h3 { font-size: 14pt; margin-left: 1%; margin-right: 1%; }
  h4 { font-size: 13pt; }
  h5 { margin-left: 1%; }
  h6 { margin-left: 1%; }
  img { width: 150px; height: auto; }
  img.auto {width: auto ; height: auto; }
  blockquote {margin-left: 1%; }
}
